{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": ["@typescript-eslint", "react-hooks"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
          }
    },
    "rules": {
        "@typescript-eslint/no-var-requires": "off"
    }
   }